$default: #E0E0E0;
$default-dark: #AEAEAE;
$default-shadow: rgba(51, 51, 51, 0.2);

$primary: #2962FF;
$primary-dark: #0039CB;
$primary-transparent: rgba(41, 98, 255, 0.1);
$primary-shadow: rgba(41, 98, 255, 0.2);

$secondary: #455A64;
$secondary-dark: #1C313A;
$secondary-transparent: rgba(69, 90, 100, 0.1);
$secondary-shadow: rgba(69, 90, 100, 0.2);

$danger: #D32F2F;
$danger-dark: #9A0007;
$danger-transparent: rgba(211, 47, 47, 0.1);
$danger-shadow: rgba(211, 47, 47, 0.2);

$text-default: #333333;
$text-primary: #3f3f3f;
$text-secondary: #4f4f4f;
$text-disabled: #9e9e9e;


$white: #ffffff;
$black: #000000;